body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.particle-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #ffbf00, #ff0084, #ffbf00, #ff0084);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

